EMAIL_ADMIN=admin@voucherbox.local
EMAIL_SUBJECT=Email Voucher for your WiFi
SMTP_HOST=mail.smtp.com
SMTP_PORT=587
SMTP_USER=voucherbox@opnsense.local
SMTP_FROM="OPNsense VoucherBox <voucherbox@opnsense.local>"
SMTP_PASS="strong-pass-for-smtp-server"
SMTP_TLS=false
OPNSENSE_HOST=firewall.opnsense.local
# optional, default 443
#OPNSENSE_PORT=8443
API_USERNAME=api-user-from-opnsense
API_PASSWORD=api-key-from-opnsense
ALLOW_SELFSIGNED_HTTPS_CERTS=true
CAPTIVE_PORTAL_URL=http://redirect-portal:8000/
BASEPATH=/wifi/